
<article>

    <form
        class="form"
        action="#"
        name="form_utilizacion_vehiculo"
        id="form_utilizacion_vehiculo"                    
    >
            
            

            

        <div class="f-line">
            <div class="f-campo">

                <div class="bl-8">
                    <label for="id">Código:</label> 
                </div>

                <div class="bl-5">
                    <input                                                 
                        type="text"
                        name="id"
                        id="utilizacion_vehiculo_id"
                        class="num" 
                        />
                </div>
                
                <div class="bl-8">                    
                </div>                
                
            </div>    

            
            <div class="f-campo">

                <div class="bl-8">
                    <label for="fecha">Fecha:</label> 
                </div>

                <div class="bl-8">
                    <input                                                 
                        type="date"
                        name="fecha"
                        id="utilizacion_vehiculo_fecha"
                        />
                </div>
            </div>    
        </div>

        
        
        <div class="f-line">                

            <div class="f-campo">
                <div class="bl-8">
                    <label for="vehiculo">Vehiculo:</label> 
                </div>

                <div class="bl-16">
                    <select name="vehiculo" 
                            id="utilizacion_vehiculo_vehiculo"                                                                           
                             >   
                    </select>      
                </div>     
                
            </div>                          

        </div>        
        
        
        
        <div class="f-line" id="linea_otro_vehiculo" >                

            <div class="f-campo">
                <div class="bl-8">
                    <label for="otro_vehiculo">Vehiculo Detalle:</label> 
                </div>

                <div class="bl-16">
                    <input                                                 
                        type="text"
                        name="otro_vehiculo"
                        id="utilizacion_vehiculo_otro_vehiculo"
                        />         
                </div>     
                
            </div>                          

        </div>        
                
        
        
        
        
        

        
        <div class="f-line">
            <div class="f-campo">

                <div class="bl-8">
                    <label>Destino utilizado:</label> 
                </div>

            </div>    
        </div>
        
        

        
        <div class="f-line">
            <div class="f-campo">
                <div class="bl-6"></div>
                
                <div class="bl-6">
                    <input                                                 
                        type="radio"
                        name="edificio"
                        id="utilizacion_vehiculo_zafira"
                        />
                </div>               
                
                <div class="bl-14">
                    <label>Edificio Zafira</label>
                </div>
                
            </div>    
        </div>        
        

        
        
        <div class="f-line">
            <div class="f-campo">
                <div class="bl-6"></div>
                
                <div class="bl-6">
                    <input                                                 
                        type="radio"
                        name="edificio"
                        id="utilizacion_vehiculo_temporal"
                        />
                </div>               
                
                <div class="bl-14">
                    <label>Barrio Temporal</label>
                </div>
                
            </div>    
        </div>        
      
            
        <div class="f-line">
            <div class="f-campo">
                <div class="bl-6"></div>
                
                <div class="bl-6">
                    <input                                                 
                        type="radio"
                        name="edificio"
                        id="utilizacion_vehiculo_tacumbu"
                        />
                </div>               
                
                <div class="bl-14">
                    <label>Barrio Tacumbú</label>
                </div>
                
            </div>    
        </div>        
              
        
            
        <div class="f-line">
            <div class="f-campo">
                <div class="bl-6"></div>
                
                <div class="bl-6">
                    <input                                                 
                        type="radio"
                        name="edificio"
                        id="utilizacion_vehiculo_camsap"
                        />
                </div>               
                
                <div class="bl-14">
                    <label>APUF CAMSAP</label>
                </div>
                
            </div>    
        </div>        
                          
                
        
        <div class="f-line">
            <div class="f-campo">
                <div class="bl-6"></div>
                
                <div class="bl-6">
                    <input                                                 
                        type="radio"
                        name="edificio"
                        id="utilizacion_vehiculo_otro"                        
                        />
                </div>                
                
                <div class="bl-4">
                    <label for="otros">Otros</label>
                </div>
                
                <div class="bl-16">
                    <input                                                 
                        type="text"
                        name="otro_texto"
                        id="utilizacion_vehiculo_otro_texto"     
                        style="text-transform:uppercase;" 
                        onkeyup="javascript:this.value=this.value.toUpperCase();"
                        />
                </div>                
                
            </div>    
        </div>                
            
                

        <div class="f-line">
            
            <div class="f-campo">

                <div class="bl-8">
                    <label for="kms">Total Kms recorridos:</label> 
                </div>

                <div class="bl-5">
                    <input                                                 
                        type="text"
                        name="kms"
                        id="utilizacion_vehiculo_kms"
                        class="num"
                        />
                </div>
            </div>    
        </div>
        

        
        <input                                                 
            type="hidden"
            name="nombre_destino"
            id="utilizacion_vehiculo_nombre_destino"            
            />        
                
    </form>
    
    
    
    <form
        class="form"                 
        name="form_archivo"
        id="form_archivo"
        enctype="multipart/form-data">

        <div class="f-line">
            <div class="f-campo">

                <div class="bl-8">
                    <label for="filetxt">Archivo:</label> 
                </div>
            </div>                    

            <div class="f-campo" id="fileU">                    
                <div class="bl-24">

                    <input type="file" 
                           name="file" 
                           style="border-bottom-width: 0px;     height: 24px;"
                           id="migracion_file">                
                </div>

                <div class="bl-8">
                    <div>
                        <a id="btn_enviar"                            
                           href="javascript:void(0);">
                           Enviar
                        </a>                        
                    </div> 
                </div>
            </div>

            <div class="f-campo" id="fileD">                          
                <div class="bl-24 out">                             


                    <a id="afileD"                             
                        href="javascript:void(0);">

                        <output                             
                            id="fileD_nombre" >
                        </output>                        
                    </a>

                </div>    

                <div class="bl-4">
                    <div>
                        <a id="btn_cambiar"                            
                           href="javascript:void(0);">
                           cambiar
                        </a>                        
                    </div> 
                </div>                        

            </div>                    

        </div>                    


    </form>

    
    
    
    

</article>

<article id="utilizacion_vehiculo-acciones">
    <pre></pre>
</article>
                


<article id="utilizacion_vehiculo-tabuladores">
    <pre></pre>
</article>
                


<hr class="e40"/>
