

<div class ="table-responsive-vertical wi-8">
    
    <table class="tableB" id="utilizacion_vehiculo-tabla">
      <thead>
        <tr>
            <th class="ca-5">id</th>
            <th class="ca-10">fecha</th>
            <th>vehiculo</th>
            <th>Destino</th>
            <th>Kms</th>

        </tr>
      </thead>

      <tbody id="utilizacion_vehiculo-tb">

      </tbody>

      <tfoot>
        <tr>
        </tr>
      </tfoot>
    </table>

</div>
    
    <hr class="e20"/>

    <div id="utilizacion_vehiculo_paginacion" class="pagination" >                            
    </div>


    <article id="utilizacion_vehiculo_acciones_lista">
        <pre></pre>
    </article>    


        
        
