
/*

    https://materialui.co/colors
    https://tailwindcolor.com/

*/



:root {
 
  --primer-color    : rgBA(6,64,133,1);
  --primer-color    : #0F3460;
  
  --segundo-color  : #428bca;
  --segundo-color  : #689f38;
  --segundo-color  : #558b2f;
  
  --tercero-color  : #efb434;
  
      
  --texto-primer-color : #FFFFFF;  
  
  
  --color-texto-oscuro : #111827;
  
  
  --color-texto-gris : #263238;  
  

  --color-bloqueado:  #E7E5E4;
  --color-bloqueado:  #f1f1f1;;
  
  --gris-fuerte : #424242;
  
  
  --primary-color-text : #FFF;
  --fondo-body : white ;

 

  --color-enfoque: #efb434;
  
  
  --color-seleccion: #efb434;

  
  --color-linea-abajo: #BDBDBD;
  
}






*{ 
    color: var(--color-texto-oscuro);
}


*::selection {
    background: var(--color-seleccion);;
    color: white;    
}


body {
    background:  var(--fondo-body );
    
}

main {
    background:  var(--fondo-body );
}


nav#nav{
    background:  var(--primer-color);
    color: var(--texto-primer-color);  
    border-color: var(--primer-color);
}


#menubar a {
    background-color: var(--primer-color);
}
#menubar a:hover {
    background: var(--segundo-color);
}

#menubar a:hover div {
    color: var(--fondo-body);
}


#menubar a div{
    color: var(--texto-primer-color);  
}

#menubar li li{    
    border-top-color:     var(--fondo-body );
}

#menubar  ul >  li li:nth-child(n+1) a{
    border-top-color: var(--segundo-color  );
} 

#menubar ul ul {    
     border-left-color: var(--segundo-color );
} 


form label
{
    color: var(--color-texto-gris );
    color: lightslategrey;
    
}


form input,
form select
{
    
    border-bottom-color: var(--color-linea-abajo);    
    
    background: var(--fondo-body );    
    color: var(--gris-fuerte );    
}

form textarea
{
    border-color: var(--color-linea-abajo); 
}


form input:focus,
from select:focus
{
    border-bottom-color: var(--primer-color);
    border-bottom-color: var(--segundo-color);
}

form textarea:focus
{
    border-color: var(--segundo-color);
}




form input[type="text"]:disabled {
  background: var(--color-bloqueado);    
}


form input[type="date"]:disabled {
  background: var(--color-bloqueado);    
}





form select:disabled {
  background: var(--color-bloqueado);      
}

form textarea:disabled {
  background: var(--color-bloqueado);    
  border-color: var(--color-linea-abajo);
}


form .out {
    background-color: var(--color-bloqueado);    
}

form .icono span {
  color: var(--segundo-color );  
}

form .icono span:hover {
  color: var(--primer-color);
}

form fieldset{        
    border-color: var(--gris-fuerte);
}


form input[type="checkbox"]  { /* change "blue" browser chrome to yellow */
  accent-color: var(--segundo-color );  
}










.botonA{    
    background:  var(--primer-color);
    border-color: var(--primer-color);
    color:  var(--texto-primer-color);    
}


.botonA:focus {     
    outline-color: var(--color-texto-gris); 
}



.botonB{    
    border-color: var(--primer-color);    
}


.botonB:focus {     
    background:  var(--color-enfoque);
}
.botonB:hover {
     background:  var(--color-enfoque);
}


.tableB tbody tr:last-child {
        
        border-bottom-color: var(--segundo-color);

}



.icon-menu{
    color: white;
}

/*
.icon-menu:hover{
    color: var(--segundo-color);
}
*/

.tableA tfoot {
    border-color: var(--segundo-color);
}



/*Color 2 color de base convinada */
.tableA tfoot tr td
{
    border-color: var(--primer-color);
}

.tableA th,
.tableA thead
{
    background-color: var(--segundo-color);
}



/* color de campos de tablas antes que el hover */
/*
.tableA tbody tr:nth-child(odd)
{
    background-color: var(--tercero-color);
}
*/

/*
.tableA tbody tr:nth-child(even)  > td
{
  background-color: var(--tercero-color);
}
*/

/*
@media only screen and (max-width : 500px) {
    .table-responsive-vertical > table > tbody > tr:nth-child(odd) > td{
        
        background-color: var(--tercero-color);
    }
}
*/





/*Color 3  color de base suave*/
.tableA tbody tr
{
  /*background: var(--tercero-color );*/
}



/*Color 5  enfoque */
.tableA tbody tr:hover
,.tableB tbody tr:hover
{    
    background: var(--color-enfoque);
}




.tableB thead {
    border-bottom-color: var(--primer-color);
    border-bottom-color: var(--segundo-color);
}
.tableB tfoot {
    border-top-color: var(--segundo-color);
}




.tableB tbody tr {
    border-bottom-color: gainsboro;    
  
}



/*
.tableA
{
    color: DimGray;    
    color: green;    
}
*/



/* White*/
.tableA th
{
    color: var(--fondo-body);
}





h1, h2, h3, h4, h5, h6
{
    color: var(--primer-color );
    color: var(--segundo-color );
}


/* supertitulos */

.subti
{
    color: var(--gris-fuerte );
}




/*paginacio */



.pagination li {
    /*border-color:  var(  --tercero-color  );*/
}

.pagination a {
    color: var(  --segundo-color  );
    border-color: var(  --tercero-color  );    
    
}



.pagination a:hover{
    background-color: var(  --fondo-body  );
    border-color:  var(  --segundo-color  );
}

.pagination .actual a:hover {
       cursor: default;
}



.pagination .actual a {
        background-color: var(  --tercero-color  );
        border-color: var(  --segundo-color  );    
        color: var(  --gris-fuerte  );    
}





.serie_thead {
   border-bottom-color: var(  --segundo-color  );
}



.serie_tfoot {
   border-top-color: var(  --segundo-color  );   
}




.serie_line:hover
{    
    background: var(--color-enfoque);
}




.loader-container .semicircle1{
  border-top-color: var(--primer-color );
  border-left-color: var(--primer-color );
 }

.loader-container .semicircle2{
  border-top-color: var(  --segundo-color  );
  border-left-color: var(  --segundo-color  );
 }
 
 
 
 
 
 
 .capaclara
 {
     background-color: var(--fondo-body );    
 }


 
 
.divtabs .tabinactivo{        
    background-color: var(--color-bloqueado);;
}


.divtabs .tabactivo{   

    background-color: #546e7a;           
    background-color: var(--fondo-body );    ;           
    
}




/* tipo fechas */

::-webkit-calendar-picker-indicator { 
/*border: 1px solid #ccc; */
/*border-radius: 2px; */
/*box-shadow: inset 0 1px #fff, 0 1px #eee; */
background-color: #eee; 
/*background-image: -webkit-linear-gradient(top, #f0f0f0, #e6e6e6); */
color: #666; 

}