
#tabcajamayor ul li {
    width: 50%;
}



#tabcajamayor .tabsbody .table-responsive-vertical{
    min-height: 400px;
}


#tab_Gastos, #tab_Ingresos {
    font-size: large;
    font-weight: 600;
}

#tabcajamayor .tabsbody {
    padding-top: 40px;
}
    




#form_transito_costo   .f-campo{
    margin-top: 30px;
}


.table0A  thead tr th div h3{    
        text-align: initial;
        color: #f6713b; 
        font-weight: 900;
        font-size: large;        
}


.table0A  thead tr th h5{    
        text-align: initial;
        color: black;         
        font-size: inherit;
        margin-bottom: 10px;
        margin-top: 10px;
}






.table0A thead {
    border: none;    
}
.table0A tfoot {
    border: none;
}

.table0A tbody tr:hover
{    
    background: none;
}

.table0A tbody tr {
    border: none;
}

.table0A tfoot tr {
    border: none;
}




.table0A  td {
    border-top: 0.5px solid gainsboro;
}


.table0A  .bt {
    border-top: 2px solid gray;
}


/*
.table0A  .bt {
    border-top: 2px solid gray;
}
*/



form.f-filtro label{
    color: darkgray; 
}

form.f-filtro select{
    color: darkgray; 
    border-color: darkgray;
}

form.f-filtro input{
    color: darkgray; 
    border-color: darkgray;
}




.tableCexc thead tr
{
    height: 24px;    
    font-size: 0.70rem;
}



.tableCexc td
{
    
    font-size: 11px;
}

