
<article>
    
        <form
            class="form"
            action="#"
            name="form_programa"
            id="form_programa"                    
        >
            
            
            <input                                                 
                type="hidden"
                name="programa"
                id="programa_programa"                
                />            
            
            

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="codigo">Código:</label> 
                    </div>

                    <div class="bl-5">
                        <input                                                 
                            type="text"
                            name="codigo"
                            id="programa_codigo"
                            class="num" 
                            />
                    </div>
                </div>    
            </div>                    
                



            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="descripcion">Descripcion:</label> 
                    </div>

                    <div class="bl-22">
                        <input                                                 
                            type="text"
                            name="descripcion"
                            id="programa_descripcion"
                            />
                    </div>
                </div>    
            </div>
            

            
                
        </form>

</article>

<article id="programa-acciones">
    <pre></pre>
</article>
                


<article id="programa-tabuladores">
    <pre></pre>
</article>
                
