

<div class ="table-responsive-vertical wi-6">
    
        <table class="tableB" id="programa-tabla">
          <thead>
            <tr>
                <th class="ca-5">Código</th>
                <th class="ca-30">programa</th>
                
            </tr>
          </thead>

          <tbody id="programa-tb">

          </tbody>

          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
</div>
    
        <hr class="e20"/>

        <div id="programa_paginacion" class="pagination" >                            
        </div>


        <article id="programa_acciones_lista">
            <pre></pre>
        </article>    


        
        
