    


<hr class="e20">
    


<div style="overflow: auto;">    
    
    
    <table class="tableA tableCexc" id="consulta-tabla">
      <thead>
          
        <tr>
            
            <th class="ca-5">fecha</th>
            
            <th class="ca-5">jardineria</th>            
            <th class="ca-5">transformador</th>
            <th class="ca-5">tanques</th>
            <th class="ca-5">red luminica</th>
            <th class="ca-5">calles y vere</th>
            <th class="ca-5">prev. incend.</th>
            <th class="ca-5">otro</th>
            <th class="ca-10">descripcion</th>
            
            
            
        </tr>
        
        
      </thead>

      <tbody id="consulta-tb">
      

      </tbody>

      <tfoot>

        <tr>
            <td id="cantidad" style="text-align: right;">0</td>
            
            <td id="jardineria" style="text-align: right;">0</td>
            <td id="transformador" style="text-align: right;">0</td>
            <td id="bomba_agua" style="text-align: right;">0</td>
            <td id="luminica" style="text-align: right;">0</td>
            
            <td id="limpieza" style="text-align: right;">0</td>
            <td id="incendio" style="text-align: right;">0</td>
            <td id="otros" style="text-align: right;">0</td>
            
            <td></td>

            
        </tr>
        
        
    </tfoot>
    
    </table>
</div>


    <hr class="e20"/>
    
    <div id="consulta_paginacion" class="pagination" >                            
    </div>

    <article id="consulta_acciones_lista">
        <pre></pre>
    </article>    
        
    



<hr class="e20">
<hr class="e20">
<hr class="e20">
