
<article>

    <form
        class="form"
        action="#"
        name="form_gestion_social"
        id="form_gestion_social"                    
    >
            
            

            

        <div class="f-line">
            <div class="f-campo">

                <div class="bl-8">
                    <label for="id">Código:</label> 
                </div>

                <div class="bl-5">
                    <input                                                 
                        type="text"
                        name="id"
                        id="gestion_social_id"
                        class="num" 
                        />
                </div>
                
                <div class="bl-8">                    
                </div>                
                
            </div>    

            
            <div class="f-campo">

                <div class="bl-8">
                    <label for="fecha">Fecha:</label> 
                </div>

                <div class="bl-8">
                    <input                                                 
                        type="date"
                        name="fecha"
                        id="gestion_social_fecha"
                        />
                </div>
            </div>    
        </div>

        
        
        <div class="f-line">                

            <div class="f-campo">
                <div class="bl-8">
                    <label for="gestion_social">Programa:</label> 
                </div>

                <div class="bl-16">
                    <select name="programa" 
                            id="gestion_social_programa"                                                                           
                             >   
                    </select>      
                </div>     
                
            </div>                          

        </div>        
        
        
        
        <div class="f-line">     
            <div class="f-campo">
                <div class="bl-8">
                    <label for="actividad_nombre">Actividad:</label> 
                </div>

                <div class="bl-28">
                    <input                                                 
                        type="text"
                        name="actividad_nombre"
                        id="gestion_social_actividad_nombre"
                        />
                </div>
            </div>               
        </div>        
                
        
        
        <div class="f-line">     
            <div class="f-campo">
                <div class="bl-8">
                    <label for="participantes_cantidad">Cant. participantes:</label> 
                </div>

                <div class="bl-8">
                    <input                                                 
                        type="text"
                        name="participantes_cantidad"
                        id="gestion_social_participantes_cantidad"
                        class="num" 
                        />
                </div>
            </div>               
        </div>        
                        

<hr style="width:100%;margin-top: 25px;border-color: ghostwhite;margin-bottom: 0px;">        
        
        
        <div class="f-line">     
            <div class="f-campo">
                <div class="bl-8">
                    <label for="sexo_masculino">Sexo masculino:</label> 
                </div>

                <div class="bl-6">
                    <input                                                 
                        type="text"
                        name="sexo_masculino"
                        id="gestion_social_sexo_masculino"
                        class="num" 
                        />
                </div>
            </div>               
        </div>         

        <div class="f-line">     
            <div class="f-campo">
                <div class="bl-8">
                    <label for="sexo_femenino">Sexo femenino:</label> 
                </div>

                <div class="bl-6">
                    <input                                                 
                        type="text"
                        name="sexo_femenino"
                        id="gestion_social_sexo_femenino"
                        class="num" 
                        />
                </div>
            </div>               
        </div>         

        <div class="f-line">     
            <div class="f-campo">
                <div class="bl-8">
                    <label for="sexo_otros">Sexo otros:</label> 
                </div>

                <div class="bl-6">
                    <input                                                 
                        type="text"
                        name="sexo_otros"
                        id="gestion_social_sexo_otros"
                        class="num" 
                        />
                </div>
            </div>               
        </div>         


<hr style="width:100%;margin-top: 25px;border-color: ghostwhite;margin-bottom: 0px;">

        <div class="f-line">     
            <div class="f-campo">
                <div class="bl-8">
                    <label for="zona1">Zona 1:</label> 
                </div>

                <div class="bl-6">
                    <input                                                 
                        type="text"
                        name="zona1"
                        id="gestion_social_zona1"
                        class="num" 
                        />
                </div>
            </div>               
        </div>    

        <div class="f-line">     
            <div class="f-campo">
                <div class="bl-8">
                    <label for="zona2">Zona 2:</label> 
                </div>

                <div class="bl-6">
                    <input                                                 
                        type="text"
                        name="zona2"
                        id="gestion_social_zona2"
                        class="num" 
                        />
                </div>
            </div>               
        </div>    

        <div class="f-line">     
            <div class="f-campo">
                <div class="bl-8">
                    <label for="zona3">Zona 3:</label> 
                </div>

                <div class="bl-6">
                    <input                                                 
                        type="text"
                        name="zona3"
                        id="gestion_social_zona3"
                        class="num" 
                        />
                </div>
            </div>               
        </div>    

        <div class="f-line">     
            <div class="f-campo">
                <div class="bl-8">
                    <label for="zona4">Zona 4:</label> 
                </div>

                <div class="bl-6">
                    <input                                                 
                        type="text"
                        name="zona4"
                        id="gestion_social_zona4"
                        class="num" 
                        />
                </div>
            </div>               
        </div>    

        <div class="f-line">     
            <div class="f-campo">
                <div class="bl-8">
                    <label for="zona5">Zona 5:</label> 
                </div>

                <div class="bl-6">
                    <input                                                 
                        type="text"
                        name="zona5"
                        id="gestion_social_zona5"
                        class="num" 
                        />
                </div>
            </div>               
        </div>    

        <div class="f-line">     
            <div class="f-campo">
                <div class="bl-8">
                    <label for="zona6">Zona 6:</label> 
                </div>

                <div class="bl-6">
                    <input                                                 
                        type="text"
                        name="zona6"
                        id="gestion_social_zona6"
                        class="num" 
                        />
                </div>
            </div>               
        </div>    

        <div class="f-line">     
            <div class="f-campo">
                <div class="bl-8">
                    <label for="zona7">Zona 7:</label> 
                </div>

                <div class="bl-6">
                    <input                                                 
                        type="text"
                        name="zona7"
                        id="gestion_social_zona7"
                        class="num" 
                        />
                </div>
            </div>               
        </div>    

        <div class="f-line">     
            <div class="f-campo">
                <div class="bl-8">
                    <label for="zona8">Zona 8:</label> 
                </div>

                <div class="bl-6">
                    <input                                                 
                        type="text"
                        name="zona8"
                        id="gestion_social_zona8"
                        class="num" 
                        />
                </div>
            </div>               
        </div>    

        <div class="f-line">     
            <div class="f-campo">
                <div class="bl-8">
                    <label for="zona9">Zona 9:</label> 
                </div>

                <div class="bl-6">
                    <input                                                 
                        type="text"
                        name="zona9"
                        id="gestion_social_zona9"
                        class="num" 
                        />
                </div>
            </div>               
        </div>    



        <div class="f-line">     
            <div class="f-campo">
                <div class="bl-8">
                    <label for="zona10">Zona 10:</label> 
                </div>

                <div class="bl-6">
                    <input                                                 
                        type="text"
                        name="zona10"
                        id="gestion_social_zona10"
                        class="num" 
                        />
                </div>
            </div>               
        </div>    

        <div class="f-line">     
            <div class="f-campo">
                <div class="bl-8">
                    <label for="zona_banco_hovy">Zona Banco Hovy:</label> 
                </div>

                <div class="bl-6">
                    <input                                                 
                        type="text"
                        name="zona_banco_hovy"
                        id="gestion_social_zona_banco_hovy"
                        class="num" 
                        />
                </div>
            </div>               
        </div>    

        <div class="f-line">     
            <div class="f-campo">
                <div class="bl-8">
                    <label for="zona_refugio_sen">Zona Refugio SEN:</label> 
                </div>

                <div class="bl-6">
                    <input                                                 
                        type="text"
                        name="zona_refugio_sen"
                        id="gestion_social_zona_refugio_sen"
                        class="num" 
                        />
                </div>
            </div>               
        </div>    

        <div class="f-line">     
            <div class="f-campo">
                <div class="bl-8">
                    <label for="zona_otro">Zona otro:</label> 
                </div>

                <div class="bl-6">
                    <input                                                 
                        type="text"
                        name="zona_otro"
                        id="gestion_social_zona_otro"
                        class="num" 
                        />
                </div>
            </div>               
        </div>    

        
<hr style="width:100%;margin-top: 25px;border-color: ghostwhite;margin-bottom: 0px;">



        <div class="f-line">     
            <div class="f-campo">
                <div class="bl-8">
                    <label for="edad_5_12">Edad 5-12:</label> 
                </div>

                <div class="bl-6">
                    <input                                                 
                        type="text"
                        name="edad_5_12"
                        id="gestion_social_edad_5_12"
                        class="num" 
                        />
                </div>
            </div>               
        </div>    

        <div class="f-line">     
            <div class="f-campo">
                <div class="bl-8">
                    <label for="edad_13_17">Edad 13-17:</label> 
                </div>

                <div class="bl-6">
                    <input                                                 
                        type="text"
                        name="edad_13_17"
                        id="gestion_social_edad_13_17"
                        class="num" 
                        />
                </div>
            </div>               
        </div>    

        <div class="f-line">     
            <div class="f-campo">
                <div class="bl-8">
                    <label for="edad_18_29">Edad 18-29:</label> 
                </div>

                <div class="bl-6">
                    <input                                                 
                        type="text"
                        name="edad_18_29"
                        id="gestion_social_edad_18_29"
                        class="num" 
                        />
                </div>
            </div>               
        </div>    

        <div class="f-line">     
            <div class="f-campo">
                <div class="bl-8">
                    <label for="edad_30_49">Edad 30-49:</label> 
                </div>

                <div class="bl-6">
                    <input                                                 
                        type="text"
                        name="edad_30_49"
                        id="gestion_social_edad_30_49"
                        class="num" 
                        />
                </div>
            </div>               
        </div>    

        <div class="f-line">     
            <div class="f-campo">
                <div class="bl-8">
                    <label for="edad_50_64">Edad 50-64:</label> 
                </div>

                <div class="bl-6">
                    <input                                                 
                        type="text"
                        name="edad_50_64"
                        id="gestion_social_edad_50_64"
                        class="num" 
                        />
                </div>
            </div>               
        </div>    

        <div class="f-line">     
            <div class="f-campo">
                <div class="bl-8">
                    <label for="edad_65_mas">Edad 65-mas:</label> 
                </div>

                <div class="bl-6">
                    <input                                                 
                        type="text"
                        name="edad_65_mas"
                        id="gestion_social_edad_65_mas"
                        class="num" 
                        />
                </div>
            </div>               
        </div>    
                
    </form>
    
    
    
    

    <form
        class="form"                 
        name="form_archivo"
        id="form_archivo"
        enctype="multipart/form-data">

        <div class="f-line">
            <div class="f-campo">

                <div class="bl-8">
                    <label for="filetxt">Archivo:</label> 
                </div>
            </div>                    

            <div class="f-campo" id="fileU">                    
                <div class="bl-24">

                    <input type="file" 
                           name="file" 
                           style="border-bottom-width: 0px;     height: 24px;"
                           id="migracion_file">                
                </div>

                <div class="bl-8">
                    <div>
                        <a id="btn_enviar"                            
                           href="javascript:void(0);">
                           Enviar
                        </a>                        
                    </div> 
                </div>
            </div>

            <div class="f-campo" id="fileD">                          
                <div class="bl-24 out">                             


                    <a id="afileD"                             
                        href="javascript:void(0);">

                        <output                             
                            id="fileD_nombre" >
                        </output>                        
                    </a>

                </div>    

                <div class="bl-4">
                    <div>
                        <a id="btn_cambiar"                            
                           href="javascript:void(0);">
                           cambiar
                        </a>                        
                    </div> 
                </div>                        

            </div>                    

        </div>                    


    </form>

    
    
    

</article>

<article id="gestion_social-acciones">
    <pre></pre>
</article>
                


<article id="gestion_social-tabuladores">
    <pre></pre>
</article>
                


<hr class="e40"/>
<hr class="e40"/>
