

<div class ="table-responsive-vertical wi-8">
    
    <table class="tableB" id="gestion_social-tabla">
      <thead>
        <tr>
            <th class="ca-5">id</th>
            <th class="ca-10">fecha</th>
            <th class="ca-20">Programa</th>
            <th class="ca-20">Actividad</th>
            <th class="ca-10">Cant. participantes</th>

        </tr>
      </thead>

      <tbody id="gestion_social-tb">

      </tbody>

      <tfoot>
        <tr>
        </tr>
      </tfoot>
    </table>

</div>
    
    <hr class="e20"/>

    <div id="gestion_social_paginacion" class="pagination" >                            
    </div>


    <article id="gestion_social_acciones_lista">
        <pre></pre>
    </article>    


<hr class="e40"/>        
<hr class="e40"/>        
