

<div class ="table-responsive-vertical wi-8">
    
        <table class="tableB" id="vehiculo-tabla">
          <thead>
            <tr>
                <th class="ca-5">Código</th>
                <th class="ca-20">marca</th>
                <th class="ca-20">modelo</th>
                <th class="ca-20">chapa</th>
                
                
            </tr>
          </thead>

          <tbody id="vehiculo-tb">

          </tbody>

          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
</div>
    
        <hr class="e20"/>

        <div id="vehiculo_paginacion" class="pagination" >                            
        </div>


        <article id="vehiculo_acciones_lista">
            <pre></pre>
        </article>    


        
        
