

<div class ="table-responsive-vertical wi-8">
    
        <table class="tableB" id="barrio_temporal-tabla">
          <thead>
            <tr>
                <th class="ca-5">id</th>
                <th class="ca-10">fecha</th>
                <th class="ca-10">Jardineria</th>
                <th class="ca-10">T. Eléctrico</th>
                <th class="ca-10">Bomba Agua</th>
                <th class="ca-10">R. Lumínica</th>
                <th class="ca-10">Limpieza C.</th>
                <th class="ca-10">P. Incendio</th>
                <th class="ca-10">Otros</th>
                
            </tr>
          </thead>

          <tbody id="barrio_temporal-tb">

          </tbody>

          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
</div>
    
        <hr class="e20"/>

        <div id="barrio_temporal_paginacion" class="pagination" >                            
        </div>


        <article id="barrio_temporal_acciones_lista">
            <pre></pre>
        </article>    


        
        
