    


<hr class="e20">
    


<div style="overflow: auto;" >    
    
    
    <table class="tableA tableCexc" id="consulta-tabla">
      <thead>


          
          <tr>            
            <th colspan="4"></th>
            <th colspan="3">sexo</th>
            <th colspan="13">zona</th>            
            <th colspan="6">edad</th>              
          </tr>
                    
          
          
          
        <tr>            
            <th class="ca-5">fecha</th>
            <th>prog</th>
            <th class="ca-15">activ</th>
            <th>partici</th>
            
            <th>masc</th>
            <th>feme</th>
            <th>otro</th>
            
            <th class="ca-5">1</th>
            <th class="ca-5">2</th>
            <th class="ca-5">3</th>
            <th class="ca-5">4</th>
            <th class="ca-5">5</th>
            <th class="ca-5">6</th>
            <th class="ca-5">7</th>
            <th class="ca-5">8</th>
            <th class="ca-5">9</th>
            <th class="ca-5">10</th>
            <th>BANCO HOVY</th>
            <th>REFUGIO SEN</th>
            <th class="ca-5">OTRA</th>
            
            <th class="ca-5">5-12</th>
            <th class="ca-5">13-17</th>            
            <th class="ca-5">18-29</th>
            <th class="ca-5">30-49</th>
            <th class="ca-5">50-64</th>
            <th class="ca-5">65-MAS</th>           
            
        </tr>
        
        
      </thead>

      <tbody id="consulta-tb">
      

      </tbody>

      <tfoot>

        <tr>
            
            <td colspan="3"></td>            
            <td id="participantes_cantidad" style="text-align: right;">0</td>
            
            <td id="sexo_masculino" style="text-align: right;">0</td>
            <td id="sexo_femenino" style="text-align: right;">0</td>
            <td id="sexo_otros" style="text-align: right;">0</td>

            <td id="zona1" style="text-align: right;">0</td>            
            <td id="zona2" style="text-align: right;">0</td>            
            <td id="zona3" style="text-align: right;">0</td>            
            <td id="zona4" style="text-align: right;">0</td>            
            <td id="zona5" style="text-align: right;">0</td>            
            <td id="zona6" style="text-align: right;">0</td>            
            <td id="zona7" style="text-align: right;">0</td>            
            <td id="zona8" style="text-align: right;">0</td>            
            <td id="zona9" style="text-align: right;">0</td>     
            <td id="zona10" style="text-align: right;">0</td>     
            <td id="zona_banco_hovy" style="text-align: right;">0</td>            
            <td id="zona_refugio_sen" style="text-align: right;">0</td>            
            <td id="zona_otro" style="text-align: right;">0</td>            
            
            <td id="edad_5_12" style="text-align: right;">0</td>            
            <td id="edad_13_17" style="text-align: right;">0</td>            
            <td id="edad_18_29" style="text-align: right;">0</td>            
            <td id="edad_30_49" style="text-align: right;">0</td>            
            <td id="edad_50_64" style="text-align: right;">0</td>            
            <td id="edad_65_mas" style="text-align: right;">0</td>            
            
            
        </tr>
        
        
    </tfoot>
    
    </table>
</div>


    <hr class="e20"/>
    
    <div id="consulta_paginacion" class="pagination" >                            
    </div>

    <article id="consulta_acciones_lista">
        <pre></pre>
    </article>    
        
    



<hr class="e20">
<hr class="e20">
<hr class="e20">
