

<div class ="table-responsive-vertical">
    
    <table class="tableB" id="orden_servicio-tabla">
      <thead>
        <tr>
            
            <th class="ca-5">Código</th>
            <th class="ca-10">fecha</th>
            <th>sillas</th>
            <th>mesas</th>
            <th>refrig.</th>
            <th>microf.</th>            
            <th>vehic.</th>
            <th>proyec.</th>
            <th>comput.</th>
            <th>impres.</th>
            <th>boligr.</th>
            <th>hojas</th>
            <th>otros</th>
            <th>Observaciones</th>
            
        </tr>
      </thead>

      <tbody id="orden_servicio-tb">

      </tbody>

      <tfoot>
        <tr>
        </tr>
      </tfoot>
    </table>
    
</div>
    
        <hr class="e20"/>

        <div id="orden_servicio_paginacion" class="pagination" >                            
        </div>


        <article id="orden_servicio_acciones_lista">
            <pre></pre>
        </article>    


        
        
