

<h4>CONSOLIDADO GENERAL</h4>


<article>
    
    <form
        class="form"
        action="#"
        name="form_cab"
        id="form_cab"                    
        >

                
        
        <div class="f-line">
            
            <div class="f-campo">

                <div class="bl-6">
                    <label for="fecha_desde">Fecha desde:</label> 
                </div>

                <div class="bl-10">
                    <input                                                 
                        type="date"
                        name="fecha_desde"
                        id="fecha_desde"                        
                        />
                </div>                    
                <div class="bl-4"></div>
            </div>
            
            <div class="f-campo">

                <div class="bl-6">
                    <label for="fecha_hasta">Fecha hasta:</label> 
                </div>

                <div class="bl-10">
                    <input                                                 
                        type="date"
                        name="fecha_hasta"
                        id="fecha_hasta"                        
                        />
                </div>                    
                <div class="bl-4"></div>
            </div>            
            
            
            
        </div>
        
        

    </form>
</article>




<article id="proceso-acciones">
    
    <div class="botones"> 
        
        <div class="boton">     
            <a id="btn_xlsx" 
               data-id="0" 
               class="botonA" 
               href="javascript:void(0);">     
                Descargar .xlsx    
            </a>   
        </div> 
        
    </div>
</article>



    <article id="main_lista">
        <pre></pre>
    </article>