    


<hr class="e20">
    


<div style="overflow: auto;" >    
    
    
    <table class="tableA tableCexc" id="consulta-tabla">
      <thead>

          
        <tr>            
            <th class="ca-10">fecha</th>
            <th class="ca-15">vehiculo</th>
            <th class="ca-10">zafira</th>
            <th class="ca-10">ba tamporal</th>
            <th class="ca-10">ba tacumbu</th>
            <th class="ca-10">APUF CAMSAP</th>
            <th class="ca-10">otro</th>
            <th class="ca-10">KM. RECORR.</th>
            
            
        </tr>
        
        
      </thead>

      <tbody id="consulta-tb">
      

      </tbody>

      <tfoot>

        <tr>
        
            
            <td></td>            
            
            <td id="cantidad" style="text-align: right;">0</td>
            
            <td id="zafira" style="text-align: right;">0</td>
            <td id="temporal" style="text-align: right;">0</td>            
            <td id="tacumbu" style="text-align: right;">0</td>
            <td id="camsap" style="text-align: right;">0</td>
            <td id="otro" style="text-align: right;">0</td>
            
            <td id="kms" style="text-align: right;">0</td>
            
        </tr>
        
        
    </tfoot>
    
    </table>
</div>


    <hr class="e20"/>
    
    <div id="consulta_paginacion" class="pagination" >                            
    </div>

    <article id="consulta_acciones_lista">
        <pre></pre>
    </article>    
        
    



<hr class="e20">
<hr class="e20">
<hr class="e20">
