@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xnyc83');
  src:  url('fonts/icomoon.eot?xnyc83#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xnyc83') format('truetype'),
    url('fonts/icomoon.woff?xnyc83') format('woff'),
    url('fonts/icomoon.svg?xnyc83#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-filter_list:before {
  content: "\e909";
}
.icon-sliders:before {
  content: "\e90d";
}
.icon-user:before {
  content: "\e90e";
}
.icon-chevron-up:before {
  content: "\e90c";
}
.icon-search-mate:before {
  content: "\e8b6";
}
.icon-check:before {
  content: "\e900";
}
.icon-chevron-down:before {
  content: "\e90a";
}
.icon-chevron-left:before {
  content: "\e901";
}
.icon-chevron-right:before {
  content: "\e902";
}
.icon-chevrons-left:before {
  content: "\e903";
}
.icon-chevrons-right:before {
  content: "\e904";
}
.icon-menu:before {
  content: "\e905";
}
.icon-more-horizontal:before {
  content: "\e906";
}
.icon-more-vertical:before {
  content: "\e907";
}
.icon-plus:before {
  content: "\e908";
}
.icon-x:before {
  content: "\e90b";
}
.icon-search:before {
  content: "\f002";
}
.icon-equalizer:before {
  content: "\e992";
}
